extends ../layout
block layout
  artcle
    //img.image(src= '/images/' + tempImage.id)
    div#panorama
    script
      |pannellum.viewer('panorama', {
      |  "type": "equirectangular",
      |  "panorama": "#{'/images/' + tempImage.id}"
      |});
    form(action='/post/'+post.id+'/edit' method='post')
      p
        input(type='text' name='title' value=post.title placeholder='title')
      p
        textarea(name='description' placeholder='description')
          =post.description
      p=user.displayName
      p
        input(type='submit')