extends ../../layout
block layout
  form(action="/auth/link/local", method="post")
    p
      |기존&nbsp;
      if user.facebook.id
        |facebook&nbsp;
      if user.google.id
        |google&nbsp;
      if user.twitter.id
        |twitter&nbsp;
      if user.kakao.id
        |kakaoId&nbsp;
    p
      |신규&nbsp;
      p
        input(type="text", name="username", placeholder="username")
      p
        input(type="password", name="password", placeholder="password")
    p
      input(type="submit")