extends ../../layout
block layout
  form(action="/auth/link/oauth", method="post")
    p
      |기존&nbsp;
      if user.local.id
        |id/password&nbsp;
      if user.facebook.id
        |facebook&nbsp;
      if user.google.id
        |google&nbsp;
      if user.twitter.id
        |twitter&nbsp;
      if user.kakao.id
        |kakao&nbsp;
    p
      |신규&nbsp;
      if newuser.facebook
        |facebook
      if newuser.google
        |google
      if newuser.twitter
        |twitter
      if newuser.kakao
        |kakao&nbsp;
    p
      input(type="submit")