extends layout
block layout
  p 사용자명: #{user.displayName}
  p 이메일 : #{user.email}
  p
    |local id/password: 
    if user.local.id
      |linked
      |&nbsp;
      a(href="/auth/unlink?service=local") unlink
    else
      a(href="/auth/link/local") create
  p
    |facebook: 
    if user.facebook.id
      |linked
      |&nbsp;
      a(href="/auth/unlink?service=facebook") unlink
    else
      a(href="/auth/facebook") link
  p
    |google: 
    if user.google.id
      |linked
      |&nbsp;
      a(href="/auth/unlink?service=google") unlink
    else
      a(href="/auth/google") link
  p
    |twitter: 
    if user.twitter.id
      |linked
      |&nbsp;
      a(href="/auth/unlink?service=twitter") unlink
    else
      a(href="/auth/twitter") link
  p
    |kakao: 
    if user.kakao.id
      |linked
      |&nbsp;
      a(href="/auth/unlink?service=kakao") unlink
    else
      a(href="/auth/kakao") link

    